
node_modules
dist
.env
.DS_Store
.vscode
.idea
*.log
coverage
*.tmp
*.bak
*.swp
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tsbuildinfo
.cache
.next
out
build
*.local
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
public/uploads
*.iml
*.class
*.jar
*.war
*.ear
*.db
*.sqlite

# 私钥配置文件（包含敏感信息）
privateKeys.js